[Desktop Entry]
Type=Application
Name=TOHA3EE
GenericName=Network Exploitation and MITM Framework
Comment=Local and network security assessment, exploitation and MITM framework
Exec=@PREFIX@/bin/toha3ee
Icon=@PREFIX@/share/icons/hicolor/512x512/apps/toha3ee.png
Terminal=true
Categories=Development;Security;Utility;
Keywords=network;exploitation;mitm;pentest;security;assessment;scan;attack;
